.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 93vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
}

.home-heading {
  color: white;
  font-weight: bold;
  font-size: 50px;
  width: 500px;
  margin-bottom: 5px;
  margin-top: 100px;
}

.home-description {
  font-family: roboto;
  font-size: 15px;
  line-height: 20px;
  color: white;
  width: 400px;
}

.shop-now-button {
  font-size: 13px;
  font-family: roboto;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #4f46e5;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  width: 100px;
}
