.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.profile-error-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.profile-failure-button {
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  font-size: 12px;
}

.profile-success-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 190px;
  width: 230px;
  margin-bottom: 28px;
  border-radius: 40px;
  background-size: cover;
  padding: 30px;
}

.profile-img {
  width: 50px;
  height: 50px;
}

.profile-heading {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 18px;
}

.profile-bio {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}
