.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  max-width: 450px;
  background-color: #202020;
}

.login-website-logo {
  height: 130px;
  width: 130px;
  margin-top: -40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: white;
}

.username-input-field {
  font-size: 12px;
  height: 30px;
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: white;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 12px;
  height: 30px;
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: white;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 10px;
  width: 260px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #6366f1;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  line-height: 16px;
  color: #ff0b37;
}
